# Voting Regression

In [8]:
# Importing all the Required Libraries
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, VotingRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

In [9]:
data_frame = pd.read_csv("./../data/interim/pre_processed_dataset_2023.csv")
data_frame.head()

,Class,Total_stops,Duration_in_hours,Days_left,Fare,Journey_date,Journey_month,Journey_day_encoded,Airline_AirAsia,Airline_AkasaAir,...,Source_Kolkata,Source_Mumbai,Destination_Bangalore,Destination_Chennai,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_Mumbai,Departure_encoded,Arrival_encoded
0,0.0,0,2.0833,1,5335,16,1,1,0,0,...,0,0,0,0,0,0,0,1,2,2
1,0.0,0,2.3333,1,5899,16,1,1,0,0,...,0,0,0,0,0,0,0,1,2,4
2,0.0,0,2.1667,1,5801,16,1,1,0,0,...,0,0,0,0,0,0,0,1,2,4
3,0.0,0,2.0833,1,5794,16,1,1,0,0,...,0,0,0,0,0,0,0,1,2,2
4,0.0,0,2.1667,1,5955,16,1,1,0,0,...,0,0,0,0,0,0,0,1,2,2

In [11]:
# Taking all columns except the target variable 'Fare'
X = data_frame.drop('Fare', axis=1)
print(X.head())

# Target variable 'Fare'
y = data_frame['Fare']
print(y.head())

   Class  Total_stops  Duration_in_hours  Days_left  Journey_date  \
0    0.0            0             2.0833          1            16
1    0.0            0             2.3333          1            16
2    0.0            0             2.1667          1            16
3    0.0            0             2.0833          1            16
4    0.0            0             2.1667          1            16

   Journey_month  Journey_day_encoded  Airline_AirAsia  Airline_AkasaAir  \
0              1                    1                0                 0
1              1                    1                0                 0
2              1                    1                0                 0
3              1                    1                0                 0
4              1                    1                0                 0

   Airline_AllianceAir  ...  Source_Kolkata  Source_Mumbai  \
0                    0  ...               0              0
1                    0  ...               0              0
2                    0  ...               0              0
3                    0  ...               0              0
4                    0  ...               0              0

   Destination_Bangalore  Destination_Chennai  Destination_Delhi  \
0                      0                    0                  0
1                      0                    0                  0
2                      0                    0                  0
3                      0                    0                  0
4                      0                    0                  0

   Destination_Hyderabad  Destination_Kolkata  Destination_Mumbai  \
0                      0                    0                   1
1                      0                    0                   1
2                      0                    0                   1
3                      0                    0                   1
4                      0                    0                   1

   Departure_encoded  Arrival_encoded
0                  2                2
1                  2                4
2                  2                4
3                  2                2
4                  2                2

[5 rows x 29 columns]
0    5335
1    5899
2    5801
3    5794
4    5955
Name: Fare, dtype: int64

In [12]:
# train-test split
X_train, X_test, y_train, y_test = train_test_split(data_frame.drop('Fare', axis=1), data_frame['Fare'], test_size=0.2, random_state=42)

In [13]:
# create the models
rf = RandomForestRegressor()
gb = GradientBoostingRegressor()
lr = LinearRegression()

# create the voting regressor
voting_regressor = VotingRegressor([('rf', rf), ('gb', gb), ('lr', lr)])

# fit the model
voting_regressor.fit(X_train, y_train)

# predict the values
y_pred = voting_regressor.predict(X_test)